Repository UnionInternationalCheminsdeFer/OSDM, pull requests merged in 2024-12, with the labels that each got.

#776 Feature/improve-layout
  demo-app/package-lock.json
  demo-app/package.json
  demo-app/src/App.vue
  demo-app/src/assets/main.css
  demo-app/src/components/molecules/PassengerInput.vue
  demo-app/src/components/molecules/SearchBar.vue
  demo-app/src/components/molecules/ViasInput.vue
Labels: refactoring, demo-app

#777 Feature/demo app documentation
  demo-app/.env
  demo-app/.env.dev
  demo-app/.gitignore
  demo-app/.vscode/extensions.json
  demo-app/README.md
  demo-app/documentation/resources/logo_osdm.png
  demo-app/src/auth.ts
  demo-app/src/main.ts
  demo-app/src/stores/auth.ts
Labels: demo-app

#763 Intermediate stop border point information in trip leg
  specification/v3.4/OSDM-online-api-v3.4.1.yml
  specification/v4.0/OSDM-online-api-v4.0.0-draft.yml
Labels: improvements

#794 Demo-App: Adding docker file
  demo-app/Dockerfile
  demo-app/nginx.conf
Labels: improvements, demo-app

#793 Fix url encoding and improve Ref conversion
  demo-app/src/components/molecules/TripCard.vue
  demo-app/src/helpers/conversions.ts
  demo-app/src/router/index.ts
Labels: bug, demo-app
