Repository UnionInternationalCheminsdeFer/OSDM, pull requests merged in 2025-01, with the labels that each got.

#815 Demo-app: mobile screen support
  demo-app/src/App.vue
  demo-app/src/components/atoms/InputTime.vue
  demo-app/src/components/molecules/HeaderBar.vue
  demo-app/src/components/molecules/SandboxSettings.vue
  demo-app/src/components/molecules/SearchBar.vue
  demo-app/src/components/molecules/TripCard.vue
  demo-app/src/components/molecules/TripList.vue
Labels: demo-app

#814 Demo-App: add version indicator
  demo-app/src/App.vue
  demo-app/vite.config.ts
Labels: demo-app

#826 Use Swagger Next
  _data/navigation.yml
Labels: documentation

#844 Fix typo in openapi examples->example
  specification/v3.5/OSDM-online-api-v3.5.0.yml
Labels: bug
